a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-top: 0;
}

body {
  color: white;
  background-color: #001b29;
  font-family: "Space Mono", sans-serif;
  margin: 0;
}
body .button-container {
  margin-inline: auto;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}
body .button-container a.back-button {
  font-family: "Lexend Deca", sans-serif;
  border-radius: 1000px;
  border: white;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
}
body .button-container a.back-button:hover, body .button-container a.back-button:active {
  text-decoration: underline;
  transition: 250ms;
  background-color: white;
  color: #001b29;
}
body header {
  display: flex;
  justify-content: space-between;
  background-color: #00111b;
  padding-top: 2em;
  padding-inline: 2em;
}
body header a.name-navbar {
  font-weight: bold;
}
body header .button-container {
  text-align: right;
  padding-right: 0;
  margin-right: 0;
}
body header .button-container a.resume-button {
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 0.5em;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  transition: 250ms;
}
body header .button-container a.resume-button:hover {
  transition: 250ms;
  background-color: #001b29;
}
body section {
  padding-block: 3em;
}
body section.hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 5em;
  width: 10em;
  border-radius: 100%;
}
body section.hero h1 {
  display: block;
  text-align: center;
  font-family: "Lexend Giga", sans-serif;
  font-size: 3rem;
  background: linear-gradient(180deg, #B67DFF 29.71%, #0087C0 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
body section.hero h3 {
  text-align: center;
  font-weight: normal;
  font-size: 1em;
}
body section.about-me, body section.my-projects, body section.game, body section.socials {
  padding-inline: 1.5em;
  margin-inline: auto;
  max-width: 50em;
  display: flex;
  align-items: center;
}
body section.about-me .container .h2-with-underline, body section.my-projects .container .h2-with-underline, body section.game .container .h2-with-underline, body section.socials .container .h2-with-underline {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
body section.about-me .container .h2-with-underline h2, body section.my-projects .container .h2-with-underline h2, body section.game .container .h2-with-underline h2, body section.socials .container .h2-with-underline h2 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2em;
  white-space: nowrap;
}
body section.about-me .container .h2-with-underline .underline, body section.my-projects .container .h2-with-underline .underline, body section.game .container .h2-with-underline .underline, body section.socials .container .h2-with-underline .underline {
  height: 1px;
  background-color: white;
  height: 1px;
  width: 100%;
  margin-bottom: 36px;
  margin-left: 16px;
}
body section.about-me .container p, body section.my-projects .container p, body section.game .container p, body section.socials .container p {
  margin-top: 0;
  font-size: 1em;
}
body section.game .image-container img {
  width: 100%;
  border-radius: 10px;
  margin-block: 1em;
}
body section.my-projects .container {
  width: auto;
}
body section.my-projects .container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body section.my-projects .container ul .project-card {
  border: solid white 1px;
  border-radius: 15px;
  margin: 1em;
}
body section.my-projects .container ul .project-card h3 {
  margin-inline: 0.5em;
}
body section.my-projects .container ul .project-card img {
  width: 260px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-inline: 0.5em;
}
body section.my-projects .container ul .project-card p {
  max-width: 260px;
  white-space: normal;
  margin-inline: 0.5em;
  margin-block: 0;
}
body section.my-projects .container ul .project-card div {
  text-align: end;
  padding: 0.5em;
}
body section.my-projects .container ul .project-card div a {
  margin: 0.5em;
  border-radius: 1000px;
  padding-inline: 0.3em;
}
body section.my-projects .container ul .project-card div a:hover {
  transition: 250ms;
  background-color: white;
  color: #001b29;
}
body section.socials .container {
  width: 100%;
}
body section.socials .container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body section.socials .container ul .icon-container button {
  text-decoration: none;
}
body section.socials .container ul .icon-container img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-inline: 0.5em;
}
body section.socials .container ul .icon-container div {
  text-align: end;
  padding: 0.5em;
}/*# sourceMappingURL=main.css.map */